.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}
/* h1 {
    background-color: #0078e7;
    color: white;
    padding: 10px; margin:0;
} */
/* h1 {
    background-color: #005999;
    color: #fff;
    padding: 8px 12px;
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 2px solid #005999;
    letter-spacing: 0.5px;
} */
h1 {
    background-color: #005999;
    color: #fff;
    padding: 4px 10px;     /* 上下4pxで高さを抑える */
    margin: 0;
    font-size: 1.2em;      /* 少し小さく */
    font-weight: 400;      /* 読みやすさを確保 */
    border-bottom: 2px solid #005999;
    letter-spacing: 0.5px;
}


select {
    width:13em;
}
.fblock {
    padding: 0em 0em 1em 2em;
}
.box {
    border: 1px solid sivler;
    padding: 8px;
    margin: 8px;
}
.box-noborder {
    padding: 8px;
    margin: 8px;
}
th { 
    text-align:right;
}