version: '3.8'

services:
  app:
    build: ./web
    container_name: flask_app
    restart: always
    volumes:
      - socket:/tmp
    networks:
      - webnet

  nginx:
    image: nginx:latest
    container_name: nginx_web
    restart: always
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - socket:/tmp
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    networks:
      - webnet

  certbot:
    image: certbot/certbot
    container_name: certbot
    entrypoint: >
      sh -c "certbot certonly --webroot -w /var/www/certbot
      --email bnakamur@hotmail.com
      -d douzo.top
      --agree-tos --no-eff-email"
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    networks:
      - webnet

volumes:
  socket:

networks:
  webnet:
    driver: bridge
